@font-stack: 'Roboto', sans-serif;
@primary-color: #333;
@secondary-color: #555;
@background-color: #f4f4f4;
@button-color: #007bff;
@button-hover-color: darken(@button-color, 10%);

@small: 8px;
@medium: 16px;
@large: 24px;
@xlarge: 32px;